# ── BASE DE DATOS ──────────────────────────────────────────────
# Local (desarrollo)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=superstore
DB_USER=postgres
DB_PASSWORD=postgres

# ── DATASET ────────────────────────────────────────────────────
# Ruta al CSV de Kaggle (relativa a la raíz del proyecto)
CSV_PATH=Global Superstore.csv
